<ion-header>
  <ion-toolbar>

    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title>EDITAR ESTUDIANTE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Código</ion-label>
        <ion-input [(ngModel)]="user.code"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="saveChanges()">Guardar Cambios</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
