<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="reservations.length > 0">
    <ion-card-header>
      <ion-card-title>Mis Notificaciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-list>
        <ion-item *ngFor="let reservation of reservations; let i = index" [ngClass]="{'minimized': minimized[i]}">
          <ion-label>
            <h2>Reserva Confirmada</h2>
            <p>Tu reserva de la {{ reservation.sala }} 
              ha sido confirmada para el día {{ getDayNameSpanish() }}, {{ currentDate | date: 'd MMM, y' }}
              a las {{ reservation.horario }}.</p>
            <ion-note color="danger">No te olvides ingresar 10 minutos antes.</ion-note>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="deleteReservation(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="reservations.length === 0">
    <ion-card-header>
      <ion-card-title>Sin Notificaciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>No tienes notificaciones pendientes en este momento.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
