/* Variables */
$primary-color: #05356b;
$secondary-color: #0511bb52;
$background-color: #f8f8f8;
$card-background: #ffffff;
$text-color: #333;
$active-item-color: #05356b;
$active-item-background: rgba(74, 144, 226, 0.1);
$shadow-color: rgba(0, 0, 0, 0.1);

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: $text-color;
}

/* Menu Styles */
ion-menu {
  ion-header {
    background-color: $primary-color;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;

    
  }
  

  /* User Icon */
  .user-icon {
    display: flex;
    justify-content: center;
    margin: 30px;

    ion-icon {
      font-size: 100px; /* Size of the user icon */
      color: #05356b; /* Color of the user icon */
    }
  }
  
  ion-content {
    padding: 1rem;

    /* Navigation Links */
    ion-list {
      margin-top: 1rem;
      
      ion-item {
        border-radius: 8px;
        margin: 0.5rem 0;
        padding: 0.75rem 1rem;
        background-color: $card-background;
        box-shadow: 0 2px 4px $shadow-color;
        transition: background-color 0.3s ease;

        &.active {
          background-color: $active-item-background;
          color: $active-item-color;
        }

        ion-label {
          font-size: 1.2rem;
        }

        &:hover {
          background-color: lighten($active-item-background, 10%);
        }
      }
    }


    ion-card-title {
      background-color: $background-color;
      color: $text-color;
      padding: 16px; // Espaciado interno
      margin: 0; // Eliminar márgenes por defecto
      border-radius: 8px; // Bordes redondeados
      box-shadow: 0 4px 8px $shadow-color; // Sombra para profundidad
      font-size: 1.5rem; // Tamaño de la fuente
      font-weight: bold; // Negrita para el título
      text-align: center; // Centrar el texto
      text-transform: uppercase; // Texto en mayúsculas

    }
    /* User Information Card */
    ion-card {
      border-radius: 12px;
      box-shadow: 0 4px 8px $shadow-color;
      margin-top: 2rem;
      background-color: $card-background;

      ion-card-header {
        background-color: $secondary-color;
        color: white;
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem 0;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      ion-card-content {
        padding: 1.5rem;

        p {
          font-size: 1rem;
          margin: 0.5rem 0;

          strong {
            font-weight: bold;
          }
        }

        ion-button {
          --background: #05356b; /* Red background for the logout button */
          --color: #fff; /* White text color for the logout button */
          --border-radius: 4px; /* Rounded corners for the button */
          margin-top: 16px; /* Margin above the button */
          display: flex;
          align-items: center;
      
          ion-icon {
            margin-right: 8px; /* Space between the icon and text */
          }
        }
      }
    }

    ion-button {
      --background: #244369; /* Red background for the logout button */
      --color: #fff; /* White text color for the logout button */
      --border-radius: 4px; /* Rounded corners for the button */
      margin-top: 16px; /* Margin above the button */
      display: flex;
      align-items: center;
  
      ion-icon {
        margin-right: 8px; /* Space between the icon and text */
      }
    }
  }


}
