<app-header backButton="/auth" title="Recuperar Contraseña"></app-header>
<ion-content>

  <div class="d-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <h1 class="title">RECUPERA TU CONTRASEÑA</h1>

      <app-custom-input auttocomplete="email" [control]="form.controls.email" type="email"
        label="Correo"></app-custom-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">

        <div *ngIf="form.controls.email.errors?.['required']">Introduce tu correo electrónico para continuar</div>
        <div *ngIf="form.controls.email.errors?.['email']">Introduce un correo electrónico válido</div>
      </div>
      <ion-button expand="block" class="submit" type="submit" color="secondary" mode="ios" [disabled]="form.invalid">
        Recuperar
      </ion-button>
    </form>
  </div>
</ion-content>